body {
  font-family: "Inter", sans-serif;
}

.header {
  background: radial-gradient(
    circle at 0%,
    #000 10%,
    #222 40%,
    #555 65%,
    #777 80%
  );
  height: 20vh;
  display: flex;
  align-items: center;
}

.header--logo {
  padding: 10px;
  height: 100%;
  margin-right: auto;
}

.header--text {
  align-self: center;
  padding: 10px;
  color: whitesmoke;
}

.form {
  background-color: #000;
  display: grid;
  grid-template-areas:
    "input1 input2"
    "button button";
  height: 20vh;
  column-gap: 20px;
  row-gap: 20px;
  padding: 10px;
  font-family: "Inter", sans-serif;

}

.form--input1 {
  grid-area: input1;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.form--input2 {
  grid-area: input2;
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
}

.form--button {
  grid-area: button;
  border-radius: 10px;
  font-size: 30px;
  font-weight: 600;
  color: whitesmoke;

  background: radial-gradient(
    circle at 0%,
    #000 10%,
    #222 40%,
    #555 65%,
    #777 80%
  );
  cursor: pointer;
}

.meme--image {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}